body {
	margin: 0; padding: 0;
}

.filter {
	background: #333;
	color: white;
	ul {
		height: 50px;
		display: flex;
		padding: 0;
		margin-top: 0;
	}
	li {
		list-style: none;
		padding: auto;
		text-align: center;
		width: 33%;
	}
	a {
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto;
		height: 50px;
		text-decoration: none;
		width: 100%;
	}
}

.selected {
	background-color:#ccc;
}